* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

div {
  align-content: center;
  
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.center {
  margin: auto;
  width: 0%;
  padding: 0px;
}

.textcenter {
  text-align: center;

}